<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <%= form_for @user do |form| %>
    <div class="modal-dialog text-center">
      <div class="col-sm-8 main-section">
        <div class="modal-content">
          <form class="col-12">
            <div class "space">
               <p></p>
            </div>
            <div class="form-group">
              <input type="email" name="user[email]" id="session_email" placeholder="Enter Email">
            </div>

            <div class="password-field">
              <input type="password" name="user[password]" id="session_password" placeholder="Enter Password">
            </div>
            <div class="submit-field">
              <button type="submit" name="commit" value="Sign up" class="btn"><i class="fas fa-sign-in-alt"></i>Register</button>
            </div>
          </form>
          <div class="other-links">
              <div class="col-12 sign-up">
                <%= link_to t(".sign_in"), sign_in_path %>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>
