<%= form_with(model: extra_page, local: true) do |form| %>
  <% if extra_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extra_page.errors.count, "error") %> prohibited this extra_page from being saved:</h2>

      <ul>
      <% extra_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit-enigma-input-select">
    Kind: <%= form.select :kind, ['normal', 'hint'] %>
  </div>

  <div class="edit-enigma-input">
    <%= form.text_field :text, placeholder:"text" %>
  </div>

  <div class="edit-enigma-input">
    <%= form.text_field :image, placeholder:"image URL" %>
  </div>

  <div class="edit-enigma-input-select">
    Enigma ID: <%= form.collection_select(:enigma_id, Enigma.all, :id, :id, prompt: false) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
