<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <%= form_tag :action => 'show' do %>
    <input type="hidden" value="<%= @extra_page %>" name="extra_page" id="extra_page_id">
  <% end %>
  <div class="extra-page-content">
        <div class="extra-page-text">
          <font size = "5">
            <% if @extra_page.image == "" %><br/><br/><br/><br/><br/><% end %>
            <%= @extra_page.text %>
          </font>
      </div>

      <div class="enigma-image">
        <% if @extra_page.image != "" %><img src="<%= @extra_page.image %>" alt="Enigma"><% end %>
      </div>
      <div class="extra-page-button"><button onclick="window.location.href='/enigmas/<%= current_user.level %>'">back</button></div >
  </div>
</body>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @extra_page.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @extra_page.image %>
</p>

<p>
  <strong>Enigma:</strong>
  <%= @extra_page.enigma.id %>
</p>

<%= link_to 'Edit', edit_extra_page_path(@extra_page) %> |
<%= link_to 'Back', extra_pages_path %> -->
