<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <div class="modal-dialog text-center">
      <img src="https://i.imgur.com/s34ESNe.png" alt="Logo">
    </div>
    <div class="message text-center">
      <div class="login-button">
        <% if signed_in? %>
          <button class="btn" onclick="window.location.href='/enigmas/<%= current_user.level %>'">Play</button>
        <% else %>
          <button class="btn" onclick="window.location.href='/sign_in'">Login</button>
        <% end %>
      </div>
      <div class "message text-center">
        <% if signed_in? %>
          <p><font size="5">Answers are always lowercase and without space</font></p>
        <% else %>
          <p><font size="5">You must login to play</font></p>
        <% end %>
      </div>
    </div>
</body>
