/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body [value*="Create Enigma"]{
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}

body [value*="Update Enigma"]{
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}

body [value*="Sign out"]{
  width: 80px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}
