// Place all the styles related to the enigmas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-enigmas{
  text-align: center;
}

.edit-enigmas table{
  margin: 0 auto;
  margin-top: 60px;
}

.enigma-image{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.enigma-image img{
  border-radius: 20px;
  box-shadow: 0px 0px 2px #3b4652;
  width: 700px;
  height: 300px;
}

.answer-field{
  margin-top: 50px;
}

.answer-field input{
  height: 42px;
  width: 500px;
  padding-left: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
}

.new-enigma{
  text-align: center;
  margin-top: 150px;
}

.new-enigma-input{
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-enigma-input input{
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding-left: 5px;
}

.edit-enigma-input{
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit-enigma-input input{
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding-left: 5px;
}

.edit-extra-pages{
  text-align: center;
}

.edit-extra-pages table{
  margin: 0 auto;
  margin-top: 60px;
}

.about{
  margin-top: 50px;
  margin-bottom: -50px;
}
