.extra-page-button button{
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}

.extra-page-content{
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.extra-page-button{
  margin-top: 50px;
  margin-bottom: 50px;
}

.extra-page-button button{
  width: 50px;
}

[value*="Create Extra page"]{
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}

[value*="Update Extra page"]{
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}

.edit-enigma-input-select{
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-enigma-input-select select{
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}
