.new-navbar{
  background-color: #3b4652;
  height: 30px;
  color: #fff;
}

.message-navbar{
  margin-left: 90px;
}

.navbar-sign-in button{
  width: 74px;
}

.navbar-sign-in button{
  width: 80px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  background-color: #27c2a5;
  color: white;
}
