<%= form_with(model: enigma, local: true) do |form| %>
  <% if enigma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enigma.errors.count, "error") %> prohibited this enigma from being saved:</h2>

      <ul>
      <% enigma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit-enigma-input">
    <!-- <%= form.label :image %> -->
    <%= form.text_field :image, placeholder: "Enigma URL image" %>
  </div>

  <div class="edit-enigma-input">
    <!-- <%= form.label :message %> -->
    <%= form.text_field :message, placeholder: "Enigma message" %>
  </div>

  <div class="edit-enigma-input">
    <!-- <%= form.label :answer %> -->
    <%= form.text_field :answer, placeholder: "Enigma answer" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
