  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <% if current_user.email == "admin@admin.admin" %>
    <div class="edit-enigmas">
      <div class="about"><font size="5">ENIGMAS</font></div>
      <table border="5" bgcolor="#3b4652">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Message</th>
            <th>Answer</th>
            <th colspan="2"><a style="color: #4272DB" href="/enigmas/new">New Enigma</a></th>
          </tr>
        </thead>

        <tbody>
          <% @enigmas.each do |enigma| %>
            <tr>
              <td><%= enigma.id %></td>
              <td>
                <% if enigma.image.size <= 40 %>
                  <%= enigma.image %>
                <% else %>
                  <%= "image is too big to put here" %>
                <% end %>
              </td>
              <td>
                <% if enigma.message.size <= 40 %>
                  <%= enigma.message %>
                <% else %>
                  <%= "message is too big to put here" %>
                <% end %>
              </td>
              <td>
                <% if enigma.answer.size <= 40 %>
                  <%= enigma.answer %>
                <% else %>
                  <%= "answer is too big to put here" %>
                <% end %>
              </td>
              <td><a style="color: #4272DB" <%= link_to 'Show', enigma %></td></a>
              <td><a style="color: #4272DB" <%= link_to 'Edit', edit_enigma_path(enigma) %></td></a>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <script language="JavaScript">
      window.location.href='/cheater.html';
    </script>
  <% end %>
  <div class="edit-extra-pages">
    <div class="about"><font size="5">EXTRA PAGES</font></div>
    <table border="5" bgcolor="#3b4652">
      <thead>
        <tr>
          <th>Kind</th>
          <th>Text</th>
          <th>Image</th>
          <th>Enigma ID</th>
          <th colspan="2"><a style="color: #4272DB" href="/extra_pages/new">New Extra Page</a></th>
        </tr>
      </thead>

      <tbody>
        <% last_enigma_id_aux = @enigmas.last.id %>
        <% counter = 0 %>
        <% while counter <= last_enigma_id_aux %>
          <% @extra_pages.each do |extra_page| %>
            <tr>
              <% if extra_page.enigma.id == counter %>
                <td><%= extra_page.kind %></td>
                <td>
                  <% if extra_page.text.size <= 50 %>
                    <%= extra_page.text %>
                  <% else %>
                    <%= "text is too big to put here" %>
                  <% end %>
                </td>
                <td>
                  <% if extra_page.image.size <= 50 %>
                    <%= extra_page.image %>
                  <% else %>
                    <%= "image is too big to put here" %>
                  <% end %>
                </td>
                <td><%= extra_page.enigma.id %></td>
                <td><a style="color: #4272DB" <%= link_to 'Show', extra_page %></td></a>
                <td><a style="color: #4272DB" <%= link_to 'Edit', edit_extra_page_path(extra_page) %></td></a>
              <% end %>
            </tr>
          <% end %>
          <% counter+=1 %>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

</body>
