<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <% if @extra_pages_enigma.count > 0 %>Extra links:<% end %>
  <% @extra_pages_enigma.each do |extra_page| %>
    <% if extra_page.kind == "hint" %><td><a style="color: #4272DB" <%= link_to extra_page.kind, extra_page, data: { confirm: 'Are you sure? Hints can make this game loses fun' } %></td></a>
    <% else %><td><a style="color: #4272DB" <%= link_to extra_page.kind, extra_page %></td></a><% end %>
    <% if extra_page != @extra_pages_enigma.last %><%= "," %><% end %>
  <% end %>
  <%= form_tag :action => 'show' do %>
    <input type="hidden" value="<%= @enigma %>" name="enigma" id="enigma_id">
  <% end %>
  <div class="text-center">
    <div class="enigma-image">
      <% if @enigma.image != "" %><img src="<%= @enigma.image %>" alt="Enigma">
      <% else %><br/><br/><br/><br/><br/><% end %>
    </div>
    <font size="5"><%= @enigma.message %></font>
    <%= form_tag :action => 'check' do %>
      <input type="hidden" value="<%= @enigma.answer %>" name="enigma_answer" id="enigma_id">
      <!-- text_field_tag 'user_answer' -->
      <div class="answer-field">
        <input placeholder="Enter you answer here and press enter" type="text" name="user_answer" id="user_answer">
      </div>
    <% end %>
  </div>
</body>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @enigma.image %>
</p>

<p>
  <strong>Message:</strong>
  <%= @enigma.message %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @enigma.answer %>
</p>

<%= link_to 'Edit', edit_enigma_path(@enigma) %> |
<%= link_to 'Back', enigmas_path %> -->
