<!DOCTYPE html>
<html>
  <head>
    <title>RiddleSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="new-navbar">
      <header>
        <% if signed_in? %>
          <%= button_to "Sign out", sign_out_path, method: :delete %>
          <div class="message-navbar">
            <% if current_user.email == "admin@admin.admin" %>
              You are on admin mode <a href="/enigmas" style="color: #4272DB">edit enigmas</a>
            <% else %>
              <%= current_user.email %>
            <% end %>
          </div>
        <% else %>
          <div class="navbar-sign-in">
            <button onclick="window.location.href='/sign_in'">Sign in</button>
            <font size = "1"> <%= "Your first enigma answer is in login page" %> </font>
          </div>
        <% end %>
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
      </header>
      <section>
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
